<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example menu icon">menu</mat-icon>
    </button>
  </div>
  <div><a routerLink="/">Fitness Tracker</a></div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li><a routerLink="/signup">Signup</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="training">Taining</a></li>
      <li><a>Lgout</a></li>
    </ul>
  </div>
</mat-toolbar>
