<section>
  <form fxLayout="column" fxLayoutAlign="center center" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input type="email" matInput placeholder="Your email" ngModel name="email" email required #inputEmail="ngModel">
      <mat-error *ngIf="inputEmail.hasError('required')">E-mail is required</mat-error>
      <mat-error *ngIf="!inputEmail.hasError('required')">E-mail is not valid</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="password" matInput placeholder="Your password" ngModel name="password" required minlength="6">
      <mat-hint>Should be at leat 6 characters long</mat-hint>
      <mat-error>Must be at least 6 character long</mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Signup</button>

  </form>
</section>
