/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

$custom-typography: mat-typography-config($font-family: '"Ubuntu", sans-serif;');
@include mat-core($custom-typography);

/* latin */
body, html {
  font-family: 'Product Sans';
  height: 100%;
}

body {
  margin: 0;
}
